<template>
  <v-dialog v-model="confirm" max-width="400px">
    <v-card>
      <v-card-title class="headline">
        Eliminar usuario
      </v-card-title>

      <v-card-text>
        ¿Seguro deseas eliminar el usuario {{ myUser.name }} ?
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" text @click.prevent="close">
          Cancelar
        </v-btn>
        <v-btn color="orange darken-1" text @click.prevent="deleteItem(myUser)">
          Aceptar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import EventBus from '../../components/EventBus';
export default {
  data() {
    return {
      confirm: false,
			myUser: []
    }
  },

  created() {
    EventBus.$on('operationUser', (data) => {
      this.checkConfirm(data);
    });
  },

  methods: {
    checkConfirm(data) {
      this.confirm = true;
      this.myUser = data.item;
    },
    deleteItem(item) {

      let headers = { "token": this.$store.getters.token };

      this.$http.delete(`users/${item._id}`, {headers}).then(response => {

        this.close();
        EventBus.$emit('reloadIndexUsers');
      })
      .catch(error => console.log(error.response));

    },

    close() {
      this.confirm = false;
			this.myUser = [];
    },
  },
}
</script>