<template>
	<v-flex >
		<v-data-table
			:search="search"
			:headers="headers"
			:items="users"
			class="elevation-1"
    	>
			<template v-slot:item.actions="props">
        <td class="justify-center layout px-0">
					<v-icon
						small
						class="mr-2"
						@click="editItem(props)"
					>
						edit
					</v-icon>
					<v-icon
						small
						@click="checkConfirm(props)"
					>
						delete
					</v-icon>
				</td>
      </template>
			<!--<template v-slot:item.status="{item}">
				<div v-if="item.status == 1">
					<span class="blue--text">Activo</span>
				</div>
				<div v-else>
					<span class="red--text">Inactivo</span>
				</div>
			</template> -->
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Usuarios</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-text-field class="text-xs-center" v-model="search" 
          	append-icon="search" label="Búsqueda" single-line-hide-details></v-text-field>
          <v-spacer></v-spacer>
          
					<form-users></form-users>
					<operation></operation>
					

        </v-toolbar>
      </template>
      
      <template v-slot:no-data>
        <v-btn color="primary" @click="index">Reset</v-btn>
      </template>
    </v-data-table>
	</v-flex>
</template>

<script>
import EventBus from '../../components/EventBus';
	export default {
		components: {
			formUsers : () => import('./Form'),
			operation : () => import('./Operation'),
		},
		data() {
			return {
			
			users: [],
		    headers: [
		      { text: 'Opciones', value: 'actions', sortable: false },
		      { text: 'Nombre', value: 'name', sortable: true },
		      { text: 'Rol', value: 'rol', sortable: true },
		      { text: 'Tipo de documento', value: 'document_type', sortable: true },
		      { text: 'Número de documento', value: 'document_number', sortable: false },
		      { text: 'Dirección', value: 'address', sortable: false },
		      { text: 'Telefono', value: 'phone', sortable: false },
		      { text: 'Email', value: 'email', sortable: false },
		    ],
			  
				search: '',
			}
		},

	  created () {
			this.index();

			EventBus.$on('reloadIndexUsers', () => {
				this.index();
			});
	  },

	  methods: {
			index() {
				//let headers = { "token": localStorage.getItem('token') }; De ambas formas sirven.
				let headers = { "token": this.$store.getters.token };

				this.$http.get('users', {headers}).then(response => {
					//console.log(response);
					this.users = response.data;
				})
				.catch(err => console.log(err));
			},

			editItem(data) {
				EventBus.$emit('editUser', data);
			},

			checkConfirm(data) {
				EventBus.$emit('operationUser', data);
			},

	    /*deleteItem (item) {
	      const index = this.users.indexOf(item)
	      confirm('Are you sure you want to delete this item?') && this.users.splice(index, 1)
	    },*/
	  },
	}
</script>