<template>
  <v-app id="app">
    <v-navigation-drawer
        v-model="drawer"
        :clipped="$vuetify.breakpoint.lgAndUp"
        app
        v-if="loggedIn"
      >
        <v-list dense>
          <template v-if="isAdmin || isEncargado || isVendedor">
            <v-list-item :to="{name: 'Home'}">
              <v-list-item-action>
                <v-icon>home</v-icon>
              </v-list-item-action>
              <v-list-item-title>
                Inicio
              </v-list-item-title>
            </v-list-item>
          </template>
          <template v-if="isAdmin || isEncargado">
            <v-list-group>
              <!-- Menu desplegable-->
              <v-list-item slot="activator">
                <v-list-item-content>
                  <v-list-item-title>
                    Almacén
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <!-- Opciones del menú desplegable -->
              <v-list-item :to="{name: 'Category'}">
                <v-list-item-action>
                  <v-icon>table_chart</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    Categorías
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item :to="{name: 'Article'}">
                <v-list-item-action>
                  <v-icon>table_chart</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    Artículos
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

            </v-list-group>
          </template>
          <template v-if="isAdmin || isEncargado">
            <v-list-group>
              <!-- Menu desplegable-->
              <v-list-item slot="activator">
                <v-list-item-content>
                  <v-list-item-title>
                    Compras
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <!-- Opciones del menú desplegable -->
              <v-list-item :to="{name: 'Ingress'}">
                <v-list-item-action>
                  <v-icon>table_chart</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    Ingresos
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              
              <v-list-item :to="{name: 'Proveedor'}">
                <v-list-item-action>
                  <v-icon>table_chart</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    Proveedores
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

            </v-list-group>
          </template>
          <template v-if="isAdmin || isVendedor">
            <v-list-group>
              <!-- Menu desplegable-->
              <v-list-item slot="activator">
                <v-list-item-content>
                  <v-list-item-title>
                    Ventas
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <!-- Opciones del menú desplegable -->
              <v-list-item :to="{name: 'Sale'}">
                <v-list-item-action>
                  <v-icon>table_chart</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    Ventas
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              
              <v-list-item :to="{name: 'Client'}">
                <v-list-item-action>
                  <v-icon>table_chart</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    Clientes
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

            </v-list-group>
          </template>

          <template v-if="isAdmin">
            <v-list-group>
              <!-- Menu desplegable-->
              <v-list-item slot="activator">
                <v-list-item-content>
                  <v-list-item-title>
                    Accesos
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <!-- Opciones del menú desplegable -->
              <v-list-item :to="{name: 'User'}">
                <v-list-item-action>
                  <v-icon>table_chart</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    Usuarios
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

            </v-list-group>
          </template>
          <template v-if="isAdmin || isEncargado || isVendedor">
            <v-list-group>
              <!-- Menu desplegable-->
              <v-list-item slot="activator">
                <v-list-item-content>
                  <v-list-item-title>
                    Consultas
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <!-- Opciones del menú desplegable -->
              <v-list-item :to="{name: ''}">
                <v-list-item-action>
                  <v-icon>table_chart</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    Consulta de compras
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              
              <v-list-item :to="{name: ''}">
                <v-list-item-action>
                  <v-icon>table_chart</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    Consulta de ventas
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

            </v-list-group>
          </template>
        </v-list>
      </v-navigation-drawer>
  
      <v-app-bar
        :clipped-left="$vuetify.breakpoint.lgAndUp"
        app
        color="blue darken-3"
        dark
      >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title
          style="width: 300px"
          class="ml-0 pl-4"
        >
          <span class="hidden-sm-and-down">Ventas</span>
        </v-toolbar-title>
        <!--<v-text-field
          flat
          solo-inverted
          hide-details
          prepend-inner-icon="mdi-magnify"
          label="Search"
          class="hidden-sm-and-down"
        ></v-text-field> -->
        <v-spacer></v-spacer>
        <v-btn icon @click.prevent="logout()" v-if="loggedIn">
          <v-icon>logout</v-icon>
        </v-btn>
        <!--<v-btn icon>
          <v-icon>mdi-bell</v-icon>
        </v-btn> -->
        <!--<v-btn
          icon
          large
        >
          <v-avatar
            size="32px"
            item
          >
            <v-img
              src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
              alt="Vuetify"
            ></v-img></v-avatar>
        </v-btn> -->
      </v-app-bar>
      <v-content>
        <v-container
          class="fill-height"
          fluid
        >
          <!--<v-row
            align="center"
            justify="center"
          >
            <v-tooltip right>
              <template v-slot:activator="{ on }">
                <v-btn
                  :href="source"
                  icon
                  large
                  target="_blank"
                  v-on="on"
                >
                  <v-icon large>mdi-code-tags</v-icon>
                </v-btn>
              </template>
              <span>Source</span>
            </v-tooltip>
          </v-row> -->
          <v-slide-y-transition mode="out-in">
            <router-view />
          </v-slide-y-transition>
        </v-container>
      </v-content>
      <!--<v-btn
        bottom
        color="pink"
        dark
        fab
        fixed
        right
        @click="dialog = !dialog"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn> -->
      <v-footer height="auto">
        <v-layout justify-center>
          <v-flex text-xs-center>
            <v-card flat tile color="primary" class="white--text">
              <v-card-text class="white--text pt-0">
                Carmelo @copy2020
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-footer>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data() {
    return {
      drawer: true,
    }
  },

  computed: {
    loggedIn() {
      return this.$store.getters.user;
    },

    isAdmin() {
      return this.$store.getters.user && this.$store.getters.user.rol == 'admin';
    },

    isEncargado() {
      return this.$store.getters.user && this.$store.getters.user.rol == 'encargado';
    },

    isVendedor() {
      return this.$store.getters.user && this.$store.getters.user.rol == 'vendedor';
    }
  },

  created() {
    this.$store.dispatch('autologin');
  },

  methods: {
    logout() {
      this.$store.dispatch('logout');
    }
  }
};
</script>
