<template>
	<v-flex >
		<v-data-table
			:search="search"
			:headers="headers"
			:items="persons"
			class="elevation-1"
    	>
			<template v-slot:item.actions="props">
        <td class="justify-center layout px-0">
					<v-icon
						small
						class="mr-2"
						@click="editItem(props)"
					>
						edit
					</v-icon>
					<v-icon
						small
						@click="changeStatus(props)"
						v-if="props.item.status == 1"
					>
						block
					</v-icon>

					<v-icon
						small
						@click="changeStatus(props)"
						v-if="props.item.status == 0"
					>
						check
					</v-icon>
				</td>
      </template>
			<template v-slot:item.status="{item}">
				<div v-if="item.status == 1">
					<span class="blue--text">Activo</span>
				</div>
				<div v-else>
					<span class="red--text">Inactivo</span>
				</div>
			</template>
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Clientes</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-text-field class="text-xs-center" v-model="search" 
          	append-icon="search" label="Búsqueda" single-line-hide-details></v-text-field>
          <v-spacer></v-spacer>

					<Form></Form>
          <Operation></Operation>
					
					

        </v-toolbar>
      </template>
      
      <template v-slot:no-data>
        <v-btn color="primary" @click="index">Reset</v-btn>
      </template>
    </v-data-table>
	</v-flex>
</template>

<script>
	import EventBus from '../../components/EventBus'

	export default {
		components: {
			Form: () => import('./Form'),
			Operation: () => import('./Operation')
		},
		data() {
			return {
			persons: [],
		    headers: [
		      { text: 'Opciones', value: 'actions', sortable: false },
		      { text: 'Nombre', value: 'name', sortable: true },
		      { text: 'Tipo de documento', value: 'document_type', sortable: true },
		      { text: 'Número de documento', value: 'document_number', sortable: false },
		      { text: 'Dirección', value: 'address', sortable: false },
		      { text: 'Telefono', value: 'phone', sortable: false },
		      { text: 'Email', value: 'email', sortable: false },
		      { text: 'Status', value: 'status', sortable: false },
		    ],
				search: '',

				//notValid: false,
				//errors: [],
			}
		},

		

	  created () {
		EventBus.$on('reloadIndexClients', () => {
			this.index();
		});

		this.index();
	  },

	  methods: {
		index() {
			//let headers = { "token": localStorage.getItem('token') }; De ambas formas sirven.
			let headers = { "token": this.$store.getters.token };

			this.$http.get('persons-clients', {headers}).then(response => {
				//console.log(response);
				this.persons = response.data;
			})
			.catch(err => console.log(err));
		},

		editItem(data) {
			EventBus.$emit('editClient', data);
		},

		changeStatus(data) {
			EventBus.$emit('changeStatus', data)
		}

		

	    /*deleteItem (item) {
	      const index = this.users.indexOf(item)
	      confirm('Are you sure you want to delete this item?') && this.users.splice(index, 1)
	    },*/
	  },
	}
</script>