<template>
  <v-dialog v-model="dialog" max-width="500px">
    <template v-slot:activator="{ on }">
      <v-btn color="primary" dark class="mb-2" v-on="on">Nuevo cliente</v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" sm="12" md="6">
              <v-text-field v-model="form.name" label="Nombre"></v-text-field>
            </v-col>

            <v-col cols="12" sm="12" md="6">
              <v-select v-model="form.document_type" label="Tipo de documento" :items="document_types"></v-select>
            </v-col>

            <v-col cols="12" sm="12" md="6">
              <v-text-field v-model="form.document_number" label="Número de documento"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <v-text-field v-model="form.phone" label="Telefono"></v-text-field>
            </v-col>

            <v-col cols="12" sm="12" md="6">
              <v-text-field v-model="form.address" label="Dirección"></v-text-field>
            </v-col>

            <v-col cols="12" sm="12" md="6">
              <v-text-field type="email" v-model="form.email" label="Email"></v-text-field>
            </v-col>

            <v-col cols="12" sm="12" md="12" v-show="errors.length > 0">
              <div class="red--text" v-for="e in errors" :key="e" v-text="e"></div>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
        <v-btn color="blue darken-1" text @click="store()">Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import EventBus from '../../components/EventBus.js';

export default {
  data() {
    return {
      dialog: false,
      editedIndex: -1,
      _id: '',
				
				form: {
					name: '',
					person_type: 'Cliente',
					document_type: '',
					document_number: '',
					address: '',
					phone: '',
					email: '',
					password: ''
				},
				//person_types: ['Cliente'],
        document_types: ['DNI', 'RUC', 'PASAPORTE', 'CI'],
        errors: [],
    }
  },

  created() {
    EventBus.$on('editClient', (data) => {
      this.edit(data);
    })
  },

  computed: {
	    formTitle () {
	      return this.editedIndex === -1 ? 'Nuevo Cliente' : 'Editar Cliente'
	    },
	  },

  watch: {
    dialog (val) {
      val || this.close()
    },
  },

  methods: {
    edit (data) {
      /*this.editedIndex = this.users.indexOf(item)
      this.form = Object.assign({}, item)*/
      this._id = data.item._id;
      this.form.name = data.item.name;
      this.form.person_type = "Cliente";
      this.form.document_type = data.item.document_type;
      this.form.document_number = data.item.document_number;
      this.form.address = data.item.address;
      this.form.phone = data.item.phone;
      this.form.email = data.item.email;

      this.dialog = true
      this.editedIndex = 1;
    },

    store() {
      let headers = { "token": this.$store.getters.token };

      if(this.validate()) { //Sí nos devuelve true, es porque si encontró errores, no seguimos con la operación.
        return;
      }

      if(this.editedIndex > -1) {
        //Edit
        this.$http.put(`persons/update/${this._id}`, this.form,{headers}).then(response => {
          EventBus.$emit('reloadIndexClients')
          this.close();
          //this.index();
        })
        .catch(err => console.log(error.response));
        return;
      }

      //Store data
      this.$http.post('persons', this.form, {headers}).then(response => {
        EventBus.$emit('reloadIndexClients')
        this.close();
        //this.index();

      })
      .catch(error => console.log(error.response));
    },

    validate() {
      let notValid = false;
      this.errors = [];


      if(this.form.name.length < 1 || this.form.name.length > 50) {
        this.errors.push('El nombre del cliente debe tener entre 1 y 50 caracteres.');
      }

      if(this.form.document_type == '') {
        this.errors.push('Debes seleccionar un Tipo de documento.');
      }

      if(this.form.document_number.length > 30) {
        //notese que no es obligatorio, es, si lo escribes, y es mayor a 20. No avanza.
        this.errors.push('El número de documento no debe tener mas de 30 caracteres.'); 
      }

      if(this.form.address.length > 70) {
        //notese que no es obligatorio, es, si lo escribes, y es mayor a 20. No avanza.
        this.errors.push('La dirección no debe tener mas de 70 caracteres.'); 
      }

      if(this.form.phone.length > 20) {
        //notese que no es obligatorio, es, si lo escribes, y es mayor a 20. No avanza.
        this.errors.push('El telefono no debe tener mas de 20 caracteres.'); 
      }

      if(this.form.email.length < 1 || this.form.email.length > 50) {
        this.errors.push('El email del cliente debe tener entre 1 y 50 caracteres.');
      }

      /*if(this.form.password.length < 1 || this.form.password.length > 64) {
        this.errors.push('El pasword del usuario debe tener entre 1 y 64 caracteres.');
      }*/

      if(this.errors.length) {
        notValid = true;
      }

				return notValid;
    },
    
    close () {
      this.dialog = false
      this.clean();
      /*this.$nextTick(() => {
        this.form = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })*/
    },
			
    clean() {
      this._id = '';
      this.form.name = '';
      this.form.person_type = 'Cliente';
      this.form.document_type = '';
      this.form.document_number = '';
      this.form.address = '';
      this.form.phone = '';
      this.form.email = '';

      this.errors = [];
      this.editedIndex = -1;
    }

  },
}
</script>