<template>
  <v-dialog v-model="confirm" max-width="400px">
    <v-card>
      <v-card-title class="headline">
        <span v-if="myData.status < 1">Activar Cliente</span>
        <span v-else>Desactivar Cliente</span>
      </v-card-title>

      <v-card-text>
        ¿Seguro deseas cambiar el estado del cliente {{ myData.name }} ?
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" text @click.prevent="confirm = false; myData = []">
          Cancelar
        </v-btn>
        <v-btn color="orange darken-1" text @click.prevent="activeordesactive(myData)">
          Aceptar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import EventBus from '../../components/EventBus.js';

export default {
  data() {
    return {
      confirm: false,
			myData: []
    }
  },

  /*watch: {
    confirm (val) {
      val || this.close()
    },
  },*/

  created() {
    EventBus.$on('changeStatus', (data) => {
      this.checkConfirm(data);
    });
  },

  methods: {
    checkConfirm(data) {
			this.confirm = true;
			this.myData = data.item;
		},

		activeordesactive(item) {

			let url = item.status < 1 ? 'persons/activate' : 'persons/desactivate';
			let headers = { "token": this.$store.getters.token };

			this.$http.put(`${url}/${item._id}`,{}, {headers}).then(response => {
				this.confirm = false;
				this.myData = [];

        EventBus.$emit('reloadIndexClients')
				this.close();
				//this.index();
			})
			.catch(error => console.log(error.response));

    },
    
    close() {
      this.confirm = false;
      this.myData = [];
    }
  },
}
</script>