<template>
	<v-layout align-center justify-center>
		<v-flex xs12 sm8 md6 lg5 x14>
			<v-card>
				<v-toolbar dark color="blue darken-3">
					<v-toolbar-title>
						Acceso al sistema
					</v-toolbar-title>
				</v-toolbar>
				<v-card-text>
					<v-text-field autofocus color="accent" v-model="form.email" label="Email" required></v-text-field>
					<v-text-field type="password" color="accent" v-model="form.password" label="Password" required></v-text-field>
					<v-flex class="red--text" v-if="error">{{ error }}</v-flex>
				</v-card-text>
				<v-card-actions class="px-3 pb-3">
				<v-flex text-xs-right>
					<v-btn color="primary" @click.prevent="signin()">Ingresar</v-btn>
				</v-flex>
				</v-card-actions>
			</v-card>
		</v-flex>
	</v-layout>
</template>
<script>
	export default {
		data() {
			return {
				form: {
					email: '',
					password: ''
				},

				error: null,
			}
		},

		methods: {
			signin() {
				this.$http.post('users/signin', this.form).then(response => {
					this.$store.dispatch('token', response.data.token);
					this.$router.push({name: "Home"});
				})
				.catch(err => {
					//console.log(err.response)
					this.error = null;
					if(err.response.status == 404) {
						this.error = err.response.data.message;
					} else {
						this.error = err.response.data.message;
					}
				});
			}
		}
	}
</script>
	