<template>
	<v-flex >
		<v-data-table
			:search="search"
			:headers="headers"
			:items="ingress"
			v-if="!viewForm"
			class="elevation-1"
    	>
			<template v-slot:item.actions="props">
        <td class="justify-center layout px-0">
					<v-icon
						small
						@click="show(props.item)"
					>
						tab
					</v-icon>
					<v-icon
						small
						@click="checkConfirm(props)"
						v-if="props.item.status == 1"
					>
						block
					</v-icon>

					<v-icon
						small
						@click="checkConfirm(props)"
						v-if="props.item.status == 0"
					>
						check
					</v-icon>
				</td>
      </template>
			<template v-slot:item.status="{item}">
				<div v-if="item.status == 1">
					<span class="blue--text">Activo</span>
				</div>
				<div v-else>
					<span class="red--text">Inactivo</span>
				</div>
			</template>
			<template v-slot:item.user_id="{item}">
				{{ item.user_id.name }}
			</template>
			<template v-slot:item.person_id="{item}">
				{{ item.person_id.name }}
			</template>
			<template v-slot:item.total="{item}">
				$ {{ item.total.toFixed(2) }}
			</template>
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Ingresos</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-text-field class="text-xs-center" v-if="!viewForm" v-model="search" 
          	append-icon="search" label="Búsqueda" single-line-hide-details></v-text-field>
          <v-spacer></v-spacer>
          <v-btn color="primary" v-if="!viewForm" @click.prevent="viewAdd()" dark class="mb-2">Nuevo</v-btn>
					
					<v-dialog v-model="confirm" max-width="400px">
						<v-card>
							<v-card-title class="headline">
								<span v-if="myData.status < 1">Activar ingreso</span>
								<span v-else>Desactivar ingreso</span>
							</v-card-title>

							<v-card-text>
								¿Seguro deseas eliminar el ingreso {{ myData.voucher_number }} ?
							</v-card-text>

							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn color="green darken-1" text @click.prevent="confirm = false; myData = []">
									Cancelar
								</v-btn>
								<v-btn color="orange darken-1" text @click.prevent="activeordesactive(myData)">
									Aceptar
								</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>

        </v-toolbar>
      </template>
      
      <template v-slot:no-data>
        <v-btn color="primary" @click="index">Reset</v-btn>
      </template>
    </v-data-table>
    <v-container grid-list-sm class="pa-4 white" v-if="viewForm">
    	<v-layout row wrap>
    		<v-flex xs12 sm4 md4 lg4 x14>
    			<v-select v-model="form.voucher_type" :items="vouchers_types" label="Tipo de comprobante">
    			</v-select>
    		</v-flex>
    		<v-flex xs12 sm4 md4 lg4 x14>
    			<v-text-field v-model="form.voucher_serie" label="Serie de comprobante">
    			</v-text-field>
    		</v-flex>
    		<v-flex xs12 sm4 md4 lg4 x14>
    			<v-text-field v-model="form.voucher_number" label="Número de comprobante">
    			</v-text-field>
    		</v-flex>

				<v-flex xs12 sm8 md8 lg8 x18>
    			<v-autocomplete v-model="form.person_id" :items="persons" label="Proveedor">
    			</v-autocomplete>
    		</v-flex>

    		<v-flex xs12 sm4 md4 lg4 x14>
		    	<v-text-field type="number" v-model="form.tax" label="Impuesto">
					</v-text-field>
				</v-flex>

				<v-flex xs12 sm8 md8 lg8 x8 v-if="!showMode">
		    	<v-text-field v-model="code"  label="Código de artículo" @keyup.enter="searchCode()">
					</v-text-field>
				</v-flex>

				<v-flex xs12 sm2 md2 lg2 x12 v-if="!showMode">
		    	<v-btn small fab dark color="teal" @click="dialog = true">
		    		<v-icon dark>list</v-icon>
		    	</v-btn>
				</v-flex>

				<v-dialog v-model="dialog" max-width="800px">
          	<v-card>
          		<v-card-title class="headline">
								Seleccione un artículo
							</v-card-title>
							
							<v-card-text>
								<v-container grid-list-md>
									<v-layout wrap>
										<v-flex xs12 sm12 md12 lg12 xl12>
											<v-text-field class="text-xs-center" v-model="textField" @keyup.enter="setArticles()" append-icon="search" label="Búsqueda">
											</v-text-field>
											<template>
												<v-data-table
													:headers="articlesHeader"
													:items="articles"
													class="elevation-1"
										    >
										    <template v-slot:item.seleccionar="{item}">
													<v-icon
														small
														class="mr-2"
														@click="add_detail(item)"
													>
														check
													</v-icon>
												</template>
												<template v-slot:item.status="{item}">
													<div v-if="item.status == 1">
														<span class="blue--text">Activo</span>
													</div>
													<div v-else>
														<span class="red--text">Inactivo</span>
													</div>
												</template>
										  </v-data-table>
											</template>
										</v-flex>
									</v-layout>
								</v-container>
							</v-card-text>

							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn color="green darken-1" text @click.prevent="close()">
									Cancelar
								</v-btn>
							</v-card-actions>

          	</v-card>
          </v-dialog>

				<v-flex xs12 sm12 md12 lg12 xl12>
					<template>
						<v-data-table
							:headers="articlesDetails"
							:items="details"
							hide-default-footer
							class="elevation-1">
							<!-- hide-default-footer nos oculta el paginado -->

							<template v-slot:item.actions="props">
								<td>
									<v-icon
										small
										class="mr-2"
										@click.prevent="deleteDetailArticle(props.item)">
										delete
									</v-icon>
								</td>
							</template>

							<template v-slot:item.qty="{item}">
								<v-text-field v-model="item.qty" type="number" min="0"></v-text-field>
							</template> 

							<template v-slot:item.price="{item}">
								<v-text-field v-model="item.price" type="number" min="0"></v-text-field>
							</template> 

							<template v-slot:item.total="{item}">
								<span v-if="item.price == '' || item.qty == ''">
									0
								</span>
								<span v-else>
									$ {{ parseFloat(item.price) * parseInt(item.qty) }}
								</span>
							</template> 

							<template slot="no-data">
								<h3>No hay artículos agregados.</h3>
							</template>
							
						</v-data-table>

						<v-flex class="text-xs-right">
							<strong>
								Total parcial: $ {{ (parseFloat(total) - parseFloat(total) * parseFloat(form.tax) / 100).toFixed(2) }}
							</strong>
						</v-flex>

						<v-flex class="text-xs-right">
							<strong>
								Total impuesto: $ {{ (parseFloat(total) * parseFloat(form.tax) / 100).toFixed(2) }}
							</strong>
						</v-flex>

						<v-flex class="text-xs-right">
							<strong>Total neto: $ {{ subtotal=total.toFixed(2) }}</strong>
						</v-flex>
					</template>
				</v-flex>

					<v-col cols="12" sm="12" md="12" class="mt-2" v-show="notValid">
						<div class="red--text" v-for="e in errors" :key="e" v-text="e"></div>
					</v-col>

				<v-flex xs12 sm12 md12 lg12 xl12 class="mt-2">
					<v-btn color="primary" @click.prevent="viewAdd()">Cancelar</v-btn>
					<v-btn color="success" class="ml-1" v-if="!showMode" @click.prevent="store()">Guardar</v-btn>
				</v-flex>

    	</v-layout>
    </v-container>
	</v-flex>
</template>

<script>
	export default {
		data() {
			return {
				dialog: false,
				ingress: [],
		    headers: [
		      { text: 'Opciones', value: 'actions', sortable: false },
		      { text: 'Usuario', value: 'user_id', sortable: true },
		      { text: 'Proveedor', value: 'person_id', sortable: true },
		      { text: 'Tipo de comprobante', value: 'voucher_type', sortable: true },
		      { text: 'Serie de comprobante', value: 'voucher_serie', sortable: false },
		      { text: 'Número de comprobante', value: 'voucher_number', sortable: false },
		      { text: 'Impuesto', value: 'tax', sortable: false },
		      { text: 'Total', value: 'total', sortable: false },
		      { text: 'Fecha', value: 'createdat', sortable: false },
		      { text: 'Status', value: 'status', sortable: false },
		    ],
				search: '',

				_id: '',
				
				form: {	
					user_id: '',
					person_id: '',
					voucher_type: '',
					voucher_serie: '',
					voucher_number: '',
					tax: 18,
				},
				articlesHeader: [
					{ text: 'Seleccionar', value: 'seleccionar', sortable: false },
		      { text: 'Código', value: 'code', sortable: false },
		      { text: 'Nombre', value: 'name', sortable: true },
		      { text: 'Stock', value: 'stock', sortable: false },
		      { text: 'Status', value: 'status', sortable: false },
				],
				articles: [],
				textField: '',

				code: '',

				persons: [],
				vouchers_types: ['BOLETA', 'FACTURA', 'TICKER', 'GUÍA'],
				articlesDetails: [
					{ text: 'Opciones', value: 'actions', sortable: false },
		      { text: 'Artículo', value: 'article', sortable: false },
		      { text: 'Cantidad', value: 'qty', sortable: false },
		      { text: 'Precio', value: 'price', sortable: false },
		      { text: 'Sub Total', value: 'total', sortable: false },
				],
				details: [],
				viewForm: false,

				notValid: false,
				errors: [],
				confirm: false,
				myData: [],
				subtotal: 0,
				showMode: false
			}
		},

		computed: {
	    total() {
	    	let result = 0.0;

	    	for(let i = 0; i < this.details.length; i++) {
	    		result += this.details[i].qty * this.details[i].price;
	    	}

	    	return result;
	    }
	  },

	  watch: {
	    /*dialog (val) {
	      val || this.close()
	    },*/
	  },

	  created () {
			this.index();
			this.setProviders();
		},

	  methods: {
		  setProviders() {
		  	let headers = { "token": this.$store.getters.token };

				this.$http.get('persons-proveedores', {headers}).then(response => {
					let xy = response.data;
					xy.map(res => {
						this.persons.push({value: res._id, text: res.name});
					})
				})
				.catch(err => console.log(err));
		  },
		  setArticles() {
				let headers = { "token": this.$store.getters.token };

				this.$http.get('article?val=' + this.textField, {headers}).then(response => {
					//console.log(response);
					this.articles = response.data;
				})
				.catch(err => console.log(err));
		  },
		  viewAdd() {
		  	this.viewForm = !this.viewForm;

		  	this._id = '';
				this.form.user_id = '';
				this.form.person_id = '';
				this.form.voucher_type = '';
				this.form.voucher_serie = '';
				this.form.voucher_number = '';
				this.form.tax = 18;
				this.subtotal = 0;
				this.articles = [];
				this.details = [];
				this.textField = '';
				this.showMode = false;
		  },

			index() {
				//let headers = { "token": localStorage.getItem('token') }; De ambas formas sirven.
				let headers = { "token": this.$store.getters.token };

				this.$http.get('ingress', {headers}).then(response => {
					//console.log(response);
					this.ingress = response.data;
				})
				.catch(err => console.log(err));
			},

			store() {
				let headers = { "token": this.$store.getters.token };

				if(this.validate()) { //Sí nos devuelve true, es porque si encontró errores, no seguimos con la operación.
					return;
				}

				let data = {
					'user_id': this.$store.getters.user._id,
					'person_id': this.form.person_id,
					'voucher_type': this.form.voucher_type,
					'voucher_serie': this.form.voucher_serie,
					'voucher_number': this.form.voucher_number,
					'tax': this.form.tax,
					'total': this.subtotal,
					'details': this.details
				};
				
				//Store data
				this.$http.post('ingress', data, {headers}).then(response => {
					this.close();
					this.index();
				})
				.catch(error => console.log(error.response));
			},

			showDetail(id) {
				let headers = { "token": this.$store.getters.token };

				this.$http.get('ingress/' + id, {headers}).then(response => {
					this.details = response.data.details;
				})
				.catch(error => console.log(error.response));
			},

			show(data) {
				this.clean();
				console.log(data);

				this.form.person_id = data.person_id._id;
				this.form.voucher_type = data.voucher_type;
				this.form.voucher_serie = data.voucher_serie;
				this.form.voucher_number = data.voucher_number;
				this.form.tax = 18;
				this.showDetail(data._id);
				this.viewForm = true;
				this.showMode = true;

			},

			validate() {
				this.notValid = false;
				this.errors = [];

				if(!this.form.person_id) {
					this.errors.push('Debes seleccionar un proveedor.');
				}

				if(!this.form.voucher_type) {
					this.errors.push('Debes seleccionar un tipo de comprobante.');
				}

				if(!this.form.voucher_number) {
					this.errors.push('Debes seleccionar un número de comprobante.');
				}

				if(!this.form.tax || this.form.tax < 1) {
					this.errors.push('Impuesto inválido.');
				}

				if(!this.details.length) {
					this.errors.push('Sin artículos que ingresar.');
				}

				if(this.errors.length) {
					this.notValid = true;
				}

				return this.notValid;
			},

			searchCode() {
				this.notValid = false;

				let headers = { "token": this.$store.getters.token };

				this.$http.post('article/queryByCode', {code: this.code}, {headers}).then(response => {
					let article = response.data;
					this.add_detail(article);
				})
				.catch(error => {
					this.errors = [];
					if(error.response.status == 403) {
						this.notValid = true;
						this.errors.push(error.response.data.message);
					}
				});

			},

			/*showArticlesItems() {
				this.confirm = true;
			},*/

			add_detail(data) {
				this.notValid = false;
				this.errors = [];
				let result = this.check_detail(data._id);

				if(result) {
					this.notValid = true;
					this.errors.push("El artículo ya fué agregado.");
					return;
				}

				this.details.push({
					_id: data._id,
					article: data.name,
					qty: 1,
					price: data.price,
				});

				this.code = '';

			},

			check_detail(id) {
				let result = false;

				for(let i = 0; i < this.details.length; i++) {
					if(this.details[i]._id == id) {
						result = true;
					}
				}

				return result;
			},

			checkConfirm(data) {
				this.confirm = true;
				this.myData = data.item;
			},

			deleteDetailArticle(data) {
				let index = this.details.indexOf(data);

				if(index != -1) {
					this.details.splice(index, 1);
				}

			},

			activeordesactive(item) {

				let url = item.status < 1 ? 'ingress/activate' : 'ingress/desactivate';
				let headers = { "token": this.$store.getters.token };

				this.$http.put(`${url}/${item._id}`,{}, {headers}).then(response => {
					this.confirm = false;
					this.myData = [];

					this.close();
					this.index();
				})
				.catch(error => console.log(error.response));

			},

	    /*deleteItem (item) {
	      const index = this.users.indexOf(item)
	      confirm('Are you sure you want to delete this item?') && this.users.splice(index, 1)
	    },*/

	    close () {
				this.dialog = false
				this.clean();
	      /*this.$nextTick(() => {
	        this.form = Object.assign({}, this.defaultItem)
	      })*/
			},
			
			clean() {
				this._id = '';
				this.form.user_id = '';
				this.form.person_id = '';
				this.form.voucher_type = '';
				this.form.voucher_serie = '';
				this.form.voucher_number = '';
				this.form.tax = 18;
				this.subtotal = 0;
				this.articles = [];
				this.textField = '';

				this.details = [];

				this.viewForm = false;

				this.showMode = false;

				this.notValid = false;
				this.errors = [];
			}
	  },
	}
</script>