<template>
	<v-flex >
		<v-data-table
			:search="search"
			:headers="headers"
			:items="persons"
			class="elevation-1"
    	>
			<template v-slot:item.actions="props">
        <td class="justify-center layout px-0">
					<v-icon
						small
						class="mr-2"
						@click="editItem(props)"
					>
						edit
					</v-icon>
					<v-icon
						small
						@click="checkConfirm(props)"
						v-if="props.item.status == 1"
					>
						block
					</v-icon>

					<v-icon
						small
						@click="checkConfirm(props)"
						v-if="props.item.status == 0"
					>
						check
					</v-icon>
				</td>
      </template>
			<template v-slot:item.status="{item}">
				<div v-if="item.status == 1">
					<span class="blue--text">Activo</span>
				</div>
				<div v-else>
					<span class="red--text">Inactivo</span>
				</div>
			</template>
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Proveedores</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-text-field class="text-xs-center" v-model="search" 
          	append-icon="search" label="Búsqueda" single-line-hide-details></v-text-field>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class="mb-2" v-on="on">Nuevo proveedor</v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
  
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="6">
                      <v-text-field v-model="form.name" label="Nombre"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="6">
                      <v-select v-model="form.document_type" label="Tipo de documento" :items="document_types"></v-select>
                    </v-col>

                    <v-col cols="12" sm="12" md="6">
                      <v-text-field v-model="form.document_number" label="Número de documento"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="6">
                      <v-text-field v-model="form.phone" label="Telefono"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="6">
                      <v-text-field v-model="form.address" label="Dirección"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="6">
                      <v-text-field type="email" v-model="form.email" label="Email"></v-text-field>
                    </v-col>

										<v-col cols="12" sm="12" md="12" v-show="notValid">
											<div class="red--text" v-for="e in errors" :key="e" v-text="e"></div>
                  	</v-col>
                  </v-row>
                </v-container>
              </v-card-text>
  
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
                <v-btn color="blue darken-1" text @click="store()">Guardar</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
					
					<v-dialog v-model="confirm" max-width="400px">
						<v-card>
							<v-card-title class="headline">
								<span v-if="myData.status < 1">Activar Proveedor</span>
								<span v-else>Desactivar Proveedor</span>
							</v-card-title>

							<v-card-text>
								¿Seguro deseas cambiar el estado del proveedor {{ myData.name }} ?
							</v-card-text>

							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn color="green darken-1" text @click.prevent="confirm = false; myData = []">
									Cancelar
								</v-btn>
								<v-btn color="orange darken-1" text @click.prevent="activeordesactive(myData)">
									Aceptar
								</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>

        </v-toolbar>
      </template>
      
      <template v-slot:no-data>
        <v-btn color="primary" @click="index">Reset</v-btn>
      </template>
    </v-data-table>
	</v-flex>
</template>

<script>
	export default {
		data() {
			return {
			dialog: false,
			persons: [],
		    headers: [
		      { text: 'Opciones', value: 'actions', sortable: false },
		      { text: 'Nombre', value: 'name', sortable: true },
		      { text: 'Tipo de documento', value: 'document_type', sortable: true },
		      { text: 'Número de documento', value: 'document_number', sortable: false },
		      { text: 'Dirección', value: 'address', sortable: false },
		      { text: 'Telefono', value: 'phone', sortable: false },
		      { text: 'Email', value: 'email', sortable: false },
		      { text: 'Status', value: 'status', sortable: false },
		    ],
			  editedIndex: -1,
				search: '',

				_id: '',
				
				form: {
					name: '',
					person_type: 'Proveedor',
					document_type: '',
					document_number: '',
					address: '',
					phone: '',
					email: '',
					password: ''
				},
				//person_types: ['Cliente'],
				document_types: ['DNI', 'RUC', 'PASAPORTE', 'CI'],
				notValid: false,
				errors: [],
				confirm: false,
				myData: []
			}
		},

		computed: {
	    formTitle () {
	      return this.editedIndex === -1 ? 'Nuevo Proveedor' : 'Editar Proveedor'
	    },
	  },

	  watch: {
	    dialog (val) {
	      val || this.close()
	    },
	  },

	  created () {
		this.index();
	  },

	  methods: {
		index() {
			//let headers = { "token": localStorage.getItem('token') }; De ambas formas sirven.
			let headers = { "token": this.$store.getters.token };

			this.$http.get('persons-proveedores', {headers}).then(response => {
				//console.log(response);
				this.persons = response.data;
			})
			.catch(err => console.log(err));
		},
	    editItem (data) {
	      /*this.editedIndex = this.users.indexOf(item)
	      this.form = Object.assign({}, item)*/
	      this._id = data.item._id;
	      this.form.name = data.item.name;
	      this.form.person_type = "Proveedor";
				this.form.document_type = data.item.document_type;
				this.form.document_number = data.item.document_number;
				this.form.address = data.item.address;
				this.form.phone = data.item.phone;
				this.form.email = data.item.email;

	      this.dialog = true
	      this.editedIndex = 1;
			},
			
			store() {
				let headers = { "token": this.$store.getters.token };

				if(this.validate()) { //Sí nos devuelve true, es porque si encontró errores, no seguimos con la operación.
					return;
				}

				if(this.editedIndex > -1) {
					//Edit
					this.$http.put(`persons/update/${this._id}`, this.form,{headers}).then(response => {
						this.close();
						this.index();
					})
					.catch(err => console.log(error.response));
					return;
				}

				//Store data
				this.$http.post('persons', this.form, {headers}).then(response => {
					this.close();
					this.index();
				})
				.catch(error => console.log(error.response));
			},

			validate() {
				this.notValid = false;
				this.errors = [];


				if(this.form.name.length < 1 || this.form.name.length > 50) {
					this.errors.push('El nombre del proveedor debe tener entre 1 y 50 caracteres.');
				}

				if(this.form.document_type == '') {
					this.errors.push('Debes seleccionar un Tipo de documento.');
				}

				if(this.form.document_number.length > 30) {
					//notese que no es obligatorio, es, si lo escribes, y es mayor a 20. No avanza.
					this.errors.push('El número de documento no debe tener mas de 30 caracteres.'); 
				}

				if(this.form.address.length > 70) {
					//notese que no es obligatorio, es, si lo escribes, y es mayor a 20. No avanza.
					this.errors.push('La dirección no debe tener mas de 70 caracteres.'); 
				}

				if(this.form.phone.length > 20) {
					//notese que no es obligatorio, es, si lo escribes, y es mayor a 20. No avanza.
					this.errors.push('El telefono no debe tener mas de 20 caracteres.'); 
				}

				if(this.form.email.length < 1 || this.form.email.length > 50) {
					this.errors.push('El email del proveedor debe tener entre 1 y 50 caracteres.');
				}

				/*if(this.form.password.length < 1 || this.form.password.length > 64) {
					this.errors.push('El pasword del usuario debe tener entre 1 y 64 caracteres.');
				}*/

				if(this.errors.length) {
					this.notValid = true;
				}

				return this.notValid;
			},

			checkConfirm(data) {
				this.confirm = true;
				this.myData = data.item;
			},

			activeordesactive(item) {

				let url = item.status < 1 ? 'persons/activate' : 'persons/desactivate';
				let headers = { "token": this.$store.getters.token };

				this.$http.put(`${url}/${item._id}`,{}, {headers}).then(response => {
					this.confirm = false;
					this.myData = [];

					this.close();
					this.index();
				})
				.catch(error => console.log(error.response));

			},

	    /*deleteItem (item) {
	      const index = this.users.indexOf(item)
	      confirm('Are you sure you want to delete this item?') && this.users.splice(index, 1)
	    },*/

	    close () {
				this.dialog = false
				this.clean();
	      /*this.$nextTick(() => {
	        this.form = Object.assign({}, this.defaultItem)
	        this.editedIndex = -1
	      })*/
			},
			
			clean() {
				this._id = '';
				this.form.name = '';
				this.form.person_type = 'Proveedor';
				this.form.document_type = '';
				this.form.document_number = '';
				this.form.address = '';
				this.form.phone = '';
				this.form.email = '';

				this.notValid = false;
				this.errors = [];
				this.editedIndex = -1;
			}
	  },
	}
</script>