<template>
  <v-container grid-list-m>
    <v-layout wrap>
      <v-flex xs12 sm12 md12>
        <div class="ct-chart">
          <canvas id="myChart">                                                
          </canvas>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// @ is an alias to /src
import chart from 'chart.js'

export default {
  data() {
  	return {
  		values: [],
  		months: [],
  		totals: []
  	}
  },

  mounted() {
  	this.sales();
  },

  methods: {
  	sales() {
  		let headers = { token: this.$store.getters.token };

  		this.$http.get('total_sales', {headers}).then(response => {
  			this.values = response.data;
  			this.grafic(this.values);
  		})
  		.catch(error => {
        if(error.response.status = '403') {
					/*this.$alertify.error('No estás autorizado, o sesión caducada.');
					this.$store.dispatch('logout');*/
					//Puedo hace esto para acabar o cerrar la sesión, o, dejarlo tal cual cmo está, que el middleware verifica el token, lo renueva, y la sesión se me reinicia.
				}
      });
  	},

  	grafic() {
  		this.values.map(result => {
  			this.months.push(moment(result._id.month, 'MM').format('MMMM'));
  			this.totals.push(result.total);
  		});

  		  let ctx = document.getElementById('myChart');
  		  let myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: this.months,
              datasets: [{
                  label: 'Ventas de los últimos 12 meses',
                  data: this.totals,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
  	}
  }
}
</script>
