<template>
	<v-flex >
		<v-data-table
			:search="search"
			:headers="headers"
			:items="categories"
			class="elevation-1"
    	>
			<template v-slot:item.actions="props">
        <td class="justify-center layout px-0">
					<v-icon
						small
						class="mr-2"
						@click="editItem(props)"
					>
						edit
					</v-icon>
					<!--<v-icon
						small
						@click="deleteItem(item)"
					>
						delete
					</v-icon> -->
					<template v-if="props.item.status == 1"> 
						<v-icon
							small
							@click="checkStatus(props.item)"
						>
							block
						</v-icon>
					</template>
					<template v-else> 
						<v-icon
							small
							@click="checkStatus(props.item)"
						>
							check
						</v-icon>
					</template>
				</td>
      </template>
			<template v-slot:item.status="{item}">
				<div v-if="item.status == 1">
					<span class="blue--text">Activo</span>
				</div>
				<div v-else>
					<span class="red--text">Inactivo</span>
				</div>
			</template>
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Categorías</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-text-field class="text-xs-center" v-model="search" 
          	append-icon="search" label="Búsqueda" single-line-hide-details></v-text-field>
          <v-spacer></v-spacer>

          <form-category></form-category>
          <operation></operation>

        </v-toolbar>
      </template>
      
      <template v-slot:no-data>
        <v-btn color="primary" @click="index">Reset</v-btn>
      </template>
    </v-data-table>
	</v-flex>
</template>

<script>
import EventBus from '../../components/EventBus';
	export default {
    components: {
      formCategory: () => import('./Form'),
      operation: () => import('./Operation')
    },
		data() {
			return {
			categories: [],
		    headers: [
		      { text: 'Opciones', value: 'actions', sortable: false },
		      { text: 'Nombre', value: 'name', sortable: true },
		      { text: 'Descripción', value: 'description', sortable: false },
		      { text: 'Status', value: 'status', sortable: false },
		    ],
			  
				search: '',
				
			}
		},

	  created () {
      this.index();
      
      EventBus.$on('reloadIndexCategories', () => {
				this.index();	
			});
	  },

	  methods: {
      index() {
        //let headers = { "token": localStorage.getItem('token') }; De ambas formas sirven.
        let headers = { "token": this.$store.getters.token };

        this.$http.get('category', {headers}).then(response => {
          //console.log(response);
          this.categories = response.data;
        })
        .catch(err => console.log(err));
      },

			checkStatus(data) {
				EventBus.$emit('operationCategory', data);
      },
      
      editItem(data) {
        EventBus.$emit('editCategory', data);
      },

	    /*deleteItem (item) {
	      const index = this.categories.indexOf(item)
	      confirm('Are you sure you want to delete this item?') && this.categories.splice(index, 1)
	    },*/
	  },
	}
</script>