<template>
  <v-dialog v-model="dialog" max-width="500px">
    <template v-slot:activator="{ on }">
      <v-btn color="primary" dark class="mb-2" v-on="on">Nueva categoría</v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" sm="12" md="6">
              <v-text-field v-model="edited.name" label="Nombre"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <v-text-field v-model="edited.description" label="Descripción"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="12" v-show="errors.length > 0">
              <div class="red--text" v-for="e in errors" :key="e" v-text="e"></div>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
        <v-btn color="blue darken-1" text @click="store()">Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import EventBus from '../../components/EventBus';
export default {
  data() {
    return {
      dialog: false,
      editedIndex: -1,
      _id: '',
				
      edited: {
        name: '',
        description: ''
      },
      errors: [],
    }
  },
  
  created() {
    EventBus.$on('editCategory', (data) => {
      this.editItem(data);
    });
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
  },

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nueva categoría' : 'Editar categoría'
    },
  },

  methods: {
    editItem (data) {
      /*this.editedIndex = this.categories.indexOf(item)
      this.edited = Object.assign({}, item)*/
      this._id = data.item._id;
      this.edited.name = data.item.name;
      this.edited.description = data.item.description;

      this.dialog = true
      this.editedIndex = 1;
    },
			
    store() {
      let headers = { "token": this.$store.getters.token };

      if(this.validate()) { //Sí nos devuelve true, es porque si encontró errores, no seguimos con la operación.
        return;
      }

      if(this.editedIndex > -1) {
        //Edit
        this.$http.put(`category/update/${this._id}`, this.edited,{headers}).then(response => {
          EventBus.$emit('reloadIndexCategories');
          this.close();
        })
        .catch(err => console.log(error.response));
        return;
      }

      //Store data
      this.$http.post('category', this.edited, {headers}).then(response => {
        EventBus.$emit('reloadIndexCategories');
        this.close();
      })
      .catch(error => console.log(error.response));
    },

    validate() {
      let notValid = false;
      this.errors = [];

      if(this.edited.name.length < 1 || this.edited.name.length > 50) {
        this.errors.push('El nombre de la categoría no debe tener mas de 50 caracteres.');
      }

      if(this.edited.name.length > 255) {
        this.errors.push('La descripción de la categoría no debe tener mas de 255 caracteres.');
      }

      if(this.errors.length) {
        notValid = true;
      }

      return notValid;
    },

    close () {
      this.dialog = false
      this.clean();
      /*this.$nextTick(() => {
        this.edited = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })*/
    },
    
    clean() {
      this._id = '';
      this.edited.name = '';
      this.edited.description = '';

      this.errors = [];
      this.editedIndex = -1;
    }
  }


}
</script>