<template>
  <v-dialog v-model="confirm" max-width="400px">
    <v-card>
      <v-card-title class="headline">
        <span v-if="items.status < 1">Activar Categoría</span>
        <span v-else>Desactivar Categoría</span>
      </v-card-title>

      <v-card-text>
        ¿Seguro deseas cambiar el status de {{ items.name }} ?
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" text @click.prevent="close()">
          Cancelar
        </v-btn>
        <v-btn color="orange darken-1" text @click.prevent="activeordesactive(items)">
          Aceptar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import EventBus from '../../components/EventBus';
export default {
  data() {
    return {
      confirm: false,
			items: []
    }
  },

  created() {
    EventBus.$on('operationCategory', (data) => {
      this.checkStatus(data);
    });
  },

  methods: {
    checkStatus(data) {
      this.confirm = true;
			this.items = data;
    },

    activeordesactive(item) {

      let url = item.status < 1 ? 'category/activate' : 'category/desactivate';
      let headers = { "token": this.$store.getters.token };

      this.$http.put(`${url}/${item._id}`,{}, {headers}).then(response => {
        this.close();
        EventBus.$emit('reloadIndexCategories');
        
      })
      .catch(error => console.log(error.response));

    },

    close() {
      this.confirm = false;
			this.items = [];
    },
  }
}
</script>