<template>
	<v-flex >
		<v-data-table
			:search="search"
			:headers="headers"
			:items="articles"
			class="elevation-1"
    	>
			<template v-slot:item.actions="props">
        <td class="justify-center layout px-0">
					<v-icon
						small
						class="mr-2"
						@click="editItem(props)"
					>
						edit
					</v-icon>
					<!--<v-icon
						small
						@click="deleteItem(item)"
					>
						delete
					</v-icon> -->
					<template v-if="props.item.status == 1"> 
						<v-icon
							small
							@click="checkStatus(props.item)"
						>
							block
						</v-icon>
					</template>
					<template v-else> 
						<v-icon
							small
							@click="checkStatus(props.item)"
						>
							check
						</v-icon>
					</template>
				</td>
      </template>

			<template v-slot:item.status="{item}">
				<div v-if="item.status == 1">
					<span class="blue--text">Activo</span>
				</div>
				<div v-else>
					<span class="red--text">Inactivo</span>
				</div>
			</template>

			<template v-slot:item.category="{item}">
				{{ item.category.name }}
			</template>

      <template v-slot:top>
      	<v-btn @click="createInvoice()">
      		<v-icon>print</v-icon>
      	</v-btn>
        <v-toolbar flat color="white">
          <v-toolbar-title>Artículos</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-text-field class="text-xs-center" v-model="search" 
          	append-icon="search" label="Búsqueda" single-line-hide-details></v-text-field>
          <v-spacer></v-spacer>

					<form-article></form-article>
          <operation></operation>

        </v-toolbar>
      </template>
      
      <template v-slot:no-data>
        <v-btn color="primary" @click="index">Reset</v-btn>
      </template>
    </v-data-table>
	</v-flex>
</template>

<script>
import jsPDF from 'jspdf'
import 'jspdf-autotable'
import EventBus from '../../components/EventBus';

	export default {
		components: {
			formArticle: () => import('./Form'),
			operation: () => import('./Operation'),
	  },
		data() {
			return {
			
				articles: [],
		    headers: [
		      { text: 'Opciones', value: 'actions', sortable: false },
		      { text: 'Categoría', value: 'category', sortable: true },
		      { text: 'Código', value: 'code', sortable: false },
		      { text: 'Nombre', value: 'name', sortable: true },
		      { text: 'Descripción', value: 'description', sortable: false },
		      { text: 'Precio', value: 'price', sortable: false },
		      { text: 'Stock', value: 'stock', sortable: false },
		      { text: 'Status', value: 'status', sortable: false },
		    ],
				search: '',
				
				notValid: false,
				errors: [],
			}
		},

	  created () {
			this.index();

			EventBus.$on('reloadIndexArticles', () => {
				this.index();	
			});
	  },

	  methods: {
			createInvoice() {
				const doc = new jsPDF('p', 'pt');

				let columns = [
					{ title: "Nombre", dataKey: "name" },
					{ title: "Código", dataKey: "code" },
					{ title: "Categoría", dataKey: "category" },
					{ title: "Stock", dataKey: "stock" },
					{ title: "Precio de venta", dataKey: "price" },
				];

				let rows = [];

				this.articles.map(result => {
					rows.push({
						name: result.name,
						code: result.code,
						category: result.category.name,
						stock: result.stock,
						price: result.price
					});
				});

				doc.autoTable(columns, rows, {
					margin: {top: 60},
					didDrawPage : (data) => {
						doc.text("Listado de artículos", 40,30);
					}
				});

				doc.save('articulos.pdf');
			},
	  
			index() {
				//let headers = { "token": localStorage.getItem('token') }; De ambas formas sirven.
				let headers = { "token": this.$store.getters.token };

				this.$http.get('article', {headers}).then(response => {
					//console.log(response);
					this.articles = response.data;
				})
				.catch(err => console.log(err));
			},

			editItem (data) {
				EventBus.$emit('editArticle', data);
    	},

			checkStatus(data) {
				EventBus.$emit('operationArticle', data);
			},
	  },
	}
</script>