<template>
  <v-dialog v-model="dialog" max-width="500px">
    <template v-slot:activator="{ on }">
      <v-btn color="primary" dark class="mb-2" v-on="on">Nuevo Artículo</v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" sm="12" md="6">
              <v-select v-model="form.category" label="Categorías" :items="categories"></v-select>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <v-text-field v-model="form.code" label="Código"></v-text-field>
            </v-col>

            <v-col cols="12" sm="12" md="6">
              <v-text-field v-model="form.name" label="Nombre"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <v-text-field v-model="form.description" label="Descripción"></v-text-field>
            </v-col>

            <v-col cols="12" sm="12" md="6">
              <v-text-field v-model="form.price" label="Precio"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <v-text-field type="number" min="1" v-model="form.stock" label="Stock"></v-text-field>
            </v-col>

            <v-col cols="12" sm="12" md="12" v-show="errors.length > 0">
              <div class="red--text" v-for="e in errors" :key="e" v-text="e"></div>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
        <v-btn color="blue darken-1" text @click="store()">Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import EventBus from '../../components/EventBus';

export default {
  data() {
    return {
      dialog: false,
      _id: '',
      form: {
        category: '',
        code: '',
        name: '',
        description: '',
        price: 0,
        stock: 0
      },
      editedIndex: -1,
      categories: [],
      errors: [],
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
  },

  created() {
    this.setCategories();

    EventBus.$on('editArticle', (data) => {
      this.editItem(data);
    })
  },

  methods: {
    setCategories() {
	  	let headers = { "token": this.$store.getters.token };

			this.$http.get('category', {headers}).then(response => {
				let xy = response.data
				xy.map(res => {
					this.categories.push({value: res._id, text: res.name});
				});
			})
			.catch(err => console.log(err));
    },

    editItem (data) {
      /*this.editedIndex = this.categories.indexOf(item)
      this.form = Object.assign({}, item)*/
      this._id = data.item._id;

      this.form.category = data.item.category._id;
      this.form.code = data.item.code;
      this.form.name = data.item.name,
      this.form.description = data.item.description;
      this.form.price = data.item.price;
      this.form.stock = data.item.stock;

      this.dialog = true
      this.editedIndex = 1;
    },
    
    store() {
      let headers = { "token": this.$store.getters.token };

      if(this.validate()) { //Sí nos devuelve true, es porque si encontró errores, no seguimos con la operación.
        return;
      }

      if(this.editedIndex > -1) {
        //Edit
        this.$http.put(`article/update/${this._id}`, this.form,{headers}).then(response => {
          EventBus.$emit('reloadIndexArticles');
          this.close();
        })
        .catch(err => console.log(err.response));
        return;
      }

      //Store data
      this.$http.post('article', this.form, {headers}).then(response => {
        EventBus.$emit('reloadIndexArticles');
        this.close();
      })
      .catch(error => console.log(error.response));
    },

    validate() {
				let notValid = false;
				this.errors = [];

				if(!this.form.category) {
					this.errors.push('Selecciona una categoría.');
				}

				if(this.form.code.length > 64) {
					this.errors.push('El código del artículo no debe tener mas de 64 caracteres.');
				}

				if(this.form.name.length < 1 || this.form.name.length > 50) {
					this.errors.push('El nombre del artículo debe tener entre 1 a 50 caracteres.');
				}

				if(this.form.description.length > 255) {
					this.errors.push('La descripción del artículo no debe tener mas de 255 caracteres.');
				}

				if(this.form.stock < 0) {
					this.errors.push('Ingresa un stock valido.');
				}

				if(this.form.price < 0) {
					this.errors.push('Ingresa un precio de venta válido.');
				}

				if(this.errors.length) {
					notValid = true;
			  }

				return notValid;
      },
      
      close () {
				this.dialog = false
				this.clean();
	      /*this.$nextTick(() => {
	        this.form = Object.assign({}, this.defaultItem)
	        this.editedIndex = -1
	      })*/
			},
			
			clean() {
				this._id = '';

				this.form.category = '';
				this.form.code = '';
				this.form.name = '',
				this.form.description = '';
				this.form.price = 0;
				this.form.stock = 0;

				this.errors = [];
				this.editedIndex = -1;
			}
    },

  computed: {
	    formTitle () {
	      return this.editedIndex === -1 ? 'Nuevo Artículo' : 'Editar Artículo'
	    },
	  },
}
</script>