<template>
	<v-flex >
		<v-data-table
			:search="search"
			:headers="headers"
			:items="categories"
			class="elevation-1"
    	>
			<template v-slot:item.actions="props">
        <td class="justify-center layout px-0">
					<v-icon
						small
						class="mr-2"
						@click="editItem(props)"
					>
						edit
					</v-icon>
					<!--<v-icon
						small
						@click="deleteItem(item)"
					>
						delete
					</v-icon> -->
					<template v-if="props.item.status == 1"> 
						<v-icon
							small
							@click="checkStatus(props.item)"
						>
							block
						</v-icon>
					</template>
					<template v-else> 
						<v-icon
							small
							@click="checkStatus(props.item)"
						>
							check
						</v-icon>
					</template>
				</td>
      </template>
			<template v-slot:item.status="{item}">
				<div v-if="item.status == 1">
					<span class="blue--text">Activo</span>
				</div>
				<div v-else>
					<span class="red--text">Inactivo</span>
				</div>
			</template>
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Categorías</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-text-field class="text-xs-center" v-model="search" 
          	append-icon="search" label="Búsqueda" single-line-hide-details></v-text-field>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class="mb-2" v-on="on">Nueva categoría</v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
  
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="6">
                      <v-text-field v-model="edited.name" label="Nombre"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="6">
                      <v-text-field v-model="edited.description" label="Descripción"></v-text-field>
                    </v-col>
										<v-col cols="12" sm="12" md="12" v-show="notValid">
											<div class="red--text" v-for="e in errors" :key="e" v-text="e"></div>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
  
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
                <v-btn color="blue darken-1" text @click="store()">Guardar</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
					
					<v-dialog v-model="confirm" max-width="400px">
						<v-card>
							<v-card-title class="headline">
								<span v-if="itemStatus.status < 1">Activar Categoría</span>
								<span v-else>Desactivar Categoría</span>
							</v-card-title>

							<v-card-text>
								¿Seguro deseas cambiar el status de {{ itemStatus.name }} ?
							</v-card-text>

							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn color="green darken-1" text @click.prevent="confirm = false; itemStatus = []">
									Cancelar
								</v-btn>
								<v-btn color="orange darken-1" text @click.prevent="activeordesactive(itemStatus)">
									Aceptar
								</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>

        </v-toolbar>
      </template>
      
      <template v-slot:no-data>
        <v-btn color="primary" @click="index">Reset</v-btn>
      </template>
    </v-data-table>
	</v-flex>
</template>

<script>
	export default {
		data() {
			return {
			dialog: false,
			categories: [],
		    headers: [
		      { text: 'Opciones', value: 'actions', sortable: false },
		      { text: 'Nombre', value: 'name', sortable: true },
		      { text: 'Descripción', value: 'description', sortable: false },
		      { text: 'Status', value: 'status', sortable: false },
		    ],
			  editedIndex: -1,
				search: '',

				_id: '',
				
				edited: {
					name: '',
					description: ''
				},

				notValid: false,
				errors: [],
				confirm: false,
				itemStatus: []
			}
		},

		computed: {
	    formTitle () {
	      return this.editedIndex === -1 ? 'Nueva categoría' : 'Editar categoría'
	    },
	  },

	  watch: {
	    dialog (val) {
	      val || this.close()
	    },
	  },

	  created () {
		this.index();
	  },

	  methods: {
		index() {
			//let headers = { "token": localStorage.getItem('token') }; De ambas formas sirven.
			let headers = { "token": this.$store.getters.token };

			this.$http.get('category', {headers}).then(response => {
				//console.log(response);
				this.categories = response.data;
			})
			.catch(err => console.log(err));
		},
	    editItem (data) {
	      /*this.editedIndex = this.categories.indexOf(item)
	      this.edited = Object.assign({}, item)*/
	      this._id = data.item._id;
	      this.edited.name = data.item.name;
	      this.edited.description = data.item.description;

	      this.dialog = true
	      this.editedIndex = 1;
			},
			
			store() {
				let headers = { "token": this.$store.getters.token };

				if(this.validate()) { //Sí nos devuelve true, es porque si encontró errores, no seguimos con la operación.
					return;
				}

				if(this.editedIndex > -1) {
					//Edit
					this.$http.put(`category/update/${this._id}`, this.edited,{headers}).then(response => {
						this.close();
						this.index();
					})
					.catch(err => console.log(error.response));
					return;
				}

				//Store data
				this.$http.post('category', this.edited, {headers}).then(response => {
					this.close();
					this.index();
				})
				.catch(error => console.log(error.response));
			},

			validate() {
				this.notValid = false;
				this.errors = [];

				if(this.edited.name.length < 1 || this.edited.name.length > 50) {
					this.errors.push('El nombre de la categoría no debe tener mas de 50 caracteres.');
				}

				if(this.edited.name.length > 255) {
					this.errors.push('La descripción de la categoría no debe tener mas de 255 caracteres.');
				}

				if(this.errors.length) {
					this.notValid = true;
				}

				return this.notValid;
			},

			checkStatus(data) {
				this.confirm = true;
				this.itemStatus = data;
			},

			activeordesactive(item) {

				let url = item.status < 1 ? 'category/activate' : 'category/desactivate';
				let headers = { "token": this.$store.getters.token };

				this.$http.put(`${url}/${item._id}`,{}, {headers}).then(response => {
					this.confirm = false;
					this.itemStatus = [];

					this.close();
					this.index();
				})
				.catch(error => console.log(error.response));

			},

	    /*deleteItem (item) {
	      const index = this.categories.indexOf(item)
	      confirm('Are you sure you want to delete this item?') && this.categories.splice(index, 1)
	    },*/

	    close () {
				this.dialog = false
				this.clean();
	      /*this.$nextTick(() => {
	        this.edited = Object.assign({}, this.defaultItem)
	        this.editedIndex = -1
	      })*/
			},
			
			clean() {
				this._id = '';
				this.edited.name = '';
				this.edited.description = '';
				this.notValid = false;
				this.errors = [];
				this.editedIndex = -1;
			}
	  },
	}
</script>